---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/blog/Hero.astro";
import Tags from "../../components/blog/Tags.astro";
import ListPosts from "../../components/blog/ListPosts.astro";
import { getCollection } from "astro:content";

const [staticData] = await getCollection("staticData");
const { alias, pageDescription, OGImage } = staticData.data;

const pageTitle = `Web Development and Technology Blog | ${alias}`;
const description = pageDescription;
const ogimage ={
    url: OGImage.url,
    alt: `${alias}'s blog screenshot, highlighting AI/ML and web development skills.` 
};
---

<Layout  pageTitle={pageTitle} description={description} ogimage={ogimage}>
   
    <Hero />
    <Tags />
    <div class="px-8 max-sm:px-4">
        <ListPosts />
    </div>

</Layout>